*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main div  */
.d1{
    height: 800px;
    width: 100%;
    background-color: palevioletred;
    /* background-image: url(./img/img2.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

/* bar */
ul{
    background-color: none;
    overflow: hidden; 
    list-style-type: none;
    left: 150px;
    position: fixed;
    top: 0px;
       
    
}

li a{
    height: 50px;
    width: 80px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    border-bottom: 2px solid red;
    color: black;
    background-color:transparent;
    /* border-radius: 50px */
;

}

a:hover{
    /* background-color: black; */
    font-size: x-large;
    color: white;
    
    
}

li{
    float: left;
    padding-left: 20px;    
    left: 0px; 
    background: transparent;
}






.inputdiv{   
    position: fixed;
    top: 10px;  
    right: 90px;
    display: inline-block;
    background-color: transparent;
    
}

input{
    height: 40px;
    width: 300px;
    color:black;
    background-color: grey;
    border-radius: 20px;
    text-align: center;
    border-bottom: 2px solid red;
    
}

input:hover{
    background-color: black;
    color: white;
}



/* online icons */
i{
    color: white;
}

i:hover{
    background-color: black;
    color: red;
}

.btn{
    height: 40px;
    width: 60px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid red;
    background-color: black;

}


.main{
    height: 600px;
    width: 600px;
    margin-left: 900px;
    margin-right: 20px;
    background-color: greenyellow;
    background: url(./img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 70px;
    display:flex;
    
}






