*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    margin:0 auto;
    max-width: 1140px;
}
 
.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}



/* card */
 
.card .card-item{
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 40px 20px;
}

.card .card-item h2{
    padding-top: 16px;
}
.card .card-item p{
    margin-top: 16px;   
}

.card .card-item .countity{
    display: flex;
    margin-left: 100px;
    margin-top: 16px;
    width: 30px;
    text-align: center;    
}
.card .card-item .countity input{
    width: 30px;
}

.card .card-item a{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: pink;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    color:black;
    padding-top: 5px;   
}

.card .card-item a:hover{
    background-color: black;
    color: white;  
}


