
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 200px;
    width: 200px;
}

.box1{
    background-color: aqua;
    border: solid black 2px;
    text-align: justify;
    /* padding: 10px;
    margin: 10px;
     */
     padding: 10px 20px;
    border-radius: 12px;
    margin: 20px;

}

.box2{
    background-color: blue;
    /* padding: 40px;
    margin: 10px; */
    text-align: justify;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px; 
    padding-left: 20px;
    margin: 20px;
    border-radius: 12px;

}
