*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box; 
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
img{
    display: block;
    width: 100%;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}





/* -------------------------------------------------------------------- */

