/* header */
header .container{
    padding:10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;   
}
header .logo{
    font-size: 30px;
    font-family: var(--font-famaly-nunito);
    margin-left: 24px;  
}

header .logo a{
    color:var(--orange-700) ;
    font-weight: 800px;
    /* font-family: ; */
}

header nav{
    margin-left: auto;
}

header nav ul li:first-child a{
    color: var(--orange-700);
}


header nav ul li a{
    color:var(--white-900);
    font-size: 18px;
    padding: 35px 12.5px;
}
header nav ul li a:hover{
    color:var(--orange-700);
    /* text-decoration: underline solid black 2px; */
    /* text-underline-offset: 5px; */
}

header nav ul li{
    margin-right: 25px;
}

header nav ul+a{
    background-color: var(--orange-700);
    font-family: var(--font-famaly-nunito);
    color:var(--white-900);
    padding: 8px 24px;
    border-radius: 3px;
    font-size:16px;
    line-height: normal;
    font-weight: 500;
    letter-spacing: normal;
    margin-right: 24px;
    
}
header nav ul+a:hover{
    background-color: black;
    color:var(--white-900);
}

/* --------------------------------------------------------------- */
/* main  */

main .container{
    background: linear-gradient(90deg,rgba(15, 23, 43, 0.75) 0%, rgba(15, 23, 43, 0.75) 91%),url(../img/bg-img.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    padding-top: 96px;
    padding-bottom: 96px ;
}

main .main-contant{
    margin-left: 24px;
}

main .main-contant h1{
    font-family: var(--font-famaly-nunito);
    font-size: 64px;
    line-height: 1.2;
    font-weight:800 ;
    letter-spacing: normal; 
    padding-bottom: 8px; 
    color: var(--white-900); 
}
main .main-contant p{
    font-family: var(--font-famaly-heebo);
    padding-bottom: 24px;
    color: var(--white-900);
}
main .main-contant a{
    border-radius: 2px;
    font-family: var(--font-famaly-nunito);
    background-color: var(--orange-600);
    color: var(--white-900);
    padding:16px 50px;
    
}
main .rotat-img img{
    padding: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: rotate360 30s linear infinite;
    /* z-index: -1; */

}
@keyframes rotate360{
    from{transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* -------------------------------------------------------------- */

/* services-cards*/
.Services .card{
    margin: 80px 12px;
}

.Services .service-card{
    padding: 60px 12px;
    border-radius: 2px;
    box-shadow:  rgba(50, 50, 50, 0.2) 0px 8px 9px, rgba(0, 0, 0, 0.10) 0px 2px 2px, rgba(60, 60, 60, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.10) 0px 0px 0px, rgba(0, 0, 0, 0 ) 0px 0px 0px;
}
.Services .card:hover{
    background-color: var(--orange-700);
    color: var(--white-900);
    border-radius: 2px;
    transition: 0.5s ;    
}
.Services .card:hover i{
    color: var(--white-900);
}

.Services .service-card .logo{
    padding-bottom: 15px;
    color: var(--orange-700);
}
.Services .service-card h2{
    padding-bottom: 15px;
    font-family: var(--font-famaly-nunito);
}
.Services .service-card p{
    padding-bottom: 10px;
    font-family: var(--font-famaly-heebo);
}

/* -------------------------------------------------------------- */
/* img and about  */

.About .About-img{
    /* background-color: aqua; */
    padding: 40px 10px;
}

.About .About-img .img-1{
    height: 320px;
    width: 300px;
}
.About .About-img .img-2{
    height: 270px;
    width: 250px;
    padding: 80px 15px;
}
.About .About-img .img-3{
    height: 270px;
    width: 250px;
    margin-left: 50px;
}
.About .About-img .img-4{
    height: 320px;
    width: 300px;
    margin-left: 15px;
}

/* about msg  */
.About .About-msg{
    padding: 150px 24px;
}
.About .About-msg .logo{
    font-family: var(--font-famaly-pacifico);
    color: var(--orange-700);
    font-weight: 300;
    font-size: x-large;
}
.About .About-msg .logo::after{
    content: "";
    position:absolute;
    background-color:var(--orange-700);
    width: 50px;
    height: 2.5px;
    margin-top:20px;
    margin-left: 10px;   
}
.About .About-msg h1{
    font-family: var(--font-famaly-nunito);
    font-size:40px;
    font-weight: 800px;
}
.About .About-msg p{
    font-family: var(--font-famaly-heebo);
    color:var(--black-600);
    padding-top: 10px;
}

.About .About-msg .years-15{
    padding-left: 15px;
    margin-top: 20px;
    border-left: 5px solid var(--orange-700);
    
}
.About .About-msg .numbers .years-15 h1{
    font-size: 50px;
    font-weight: 800;
    color: var(--orange-700);
} 
.About .About-msg .numbers .years-15 .data{
    padding-left: 25px;
    padding-top: 0;
}
.About .About-msg .numbers .popular-50 .data h3{
    font-family: var(--font-famaly-nunito);
}



.About .About-msg .popular-50{
    padding-left: 15px;
    margin-top: 20px;
    border-left: 5px solid var(--orange-700);
    
}
.About .About-msg .numbers .popular-50 h1{
    font-size: 50px;
    font-weight: 800;
    color: var(--orange-700);
} 
.About .About-msg .numbers .popular-50 .data{
    padding-left: 25px;
    padding-top: 0;
}

.About .About-msg a{
background-color: var(--orange-700);
color: var(--white-900);
margin-top: 35px;
padding: 18px 57px;
border-radius: 2px;
}

/* --------------------------------------------------------------*/
/* menu portion  */

/* menu header  */
.menu .menu-header{
    text-align: center;
}
.menu .menu-header h5{
    font-family: var(--font-famaly-pacifico);
    font-size: 20px;
    color: var(--orange-700);

}
.menu .menu-header h5::before{
    content: "";
    position: absolute;
    background-color: var(--orange-700);
    height: 2px;
    width: 50px;
    margin-left: 110px;
    margin-top: 20px;
    
}
.menu .menu-header h5::after{
    content: "";
    position: absolute;
    background-color: var(--orange-700);
    height: 2px;
    width: 50px;
    margin-left: -160px;
    margin-top: 20px;   
}
.menu .menu-header h2{
    font-family: var(--font-famaly-nunito);
    font-size: 40px;
    font-weight: 800;
}

/* ------------------------------------------------------------- */

/* menu nav  */
.menu .menu-nav{
    text-align: center;
}
.menu .menu-nav span{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-famaly-heebo);
    color: var(--black-600);
}
.menu .menu-nav p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-famaly-nunito);
    font-weight: 800;
}
.menu .menu-nav > div{
    border-bottom: 1px solid gray;
    margin: 16px auto;
    
}
.menu .menu-nav-active {
    /* by js  */
    border-bottom: 3px solid orange;
}
.menu .menu-nav div div {
    padding: 0px 16px;
    cursor: pointer;
}
.menu .menu-nav .item{
    padding: 25px 0px;
}

/* ------------------------------------------------------------- */

/* menu item  */
.menu .menu-list{
    padding: 16px;
    /* background-color: aqua; */
}

.menu .menu-list .menu-item-info{
    padding: 0px 20px; 
    margin-bottom: 20px;
}

.menu .menu-list .menu-item-info div:first-child h4{
    font-family: var(--font-famaly-heebo);
    font-size: 20px;
}
.menu .menu-list .menu-item-info div > h3{
    color: var(--orange-700);
    font-family: var(--font-famaly-heebo);
    font-size: 20px;
    font-weight: 800;
    
}

.menu .menu-list .menu-item .menu-item-info div{
    border-bottom: 0.5px solid rgb(188, 188, 188);
    padding: 10px 0px;
    margin-bottom: 10px;
}
.menu .menu-list .menu-item-info div+span{
    font-family: var(--font-famaly-heebo);
    font-size: 16px;    
}

/* ----------------------------------------------------------- */

/* customer-info-input */
.info-input{
    margin-top: 60px;
    /* background-color: aqua; */
    
}
.info-input .video-portion{
    background-image: url(../img/video.jpg);
    height: 100%;
    justify-content: center;
}
.info-input .video-portion i{
    font-size: 100px;
    color: var(--orange-700);
}

.info-input .input-portion{
    background-color:var(--dark-blue-900);
    padding: 40px;
}
.info-input .input-portion h4{
    font-family: var(--font-famaly-pacifico);
    color: var(--orange-700);
    font-size: 20px;
    font-weight: 400;
}
.info-input .input-portion h4::after{
    content: "";
    position: absolute;
    height: 1.5px;
    width: 50px;
    background-color: var(--orange-700);
    margin-top: 16px;
    margin-left: 10px;
}
.info-input .input-portion h2{
    font-family: var(--font-famaly-nunito);
    color: var(--white-900);
    font-size: 40px;
    font-weight: 800;
}
.info-input .input-portion form input ,
.info-input .input-portion form textarea ,
.info-input .input-portion form select{
   width: 100%;
   margin: 8px 10px;
   padding: 16px;
   font-size: 16px;
}
.info-input .input-portion form div{
    padding-right: 20px;
}

.info-input .input-portion form .btn{
    background-color: var(--orange-700);
    color: var(--white-900);
    border: none;
    border-radius: 2px;
    font-size: 18px;
}

/* ---------------------------------------------------- */

/* staff  information */


.staff-info .staff-headeer {
    text-align: center;
    padding: 100px 0px 0px 0px ;
    /* padding-top: 60px; */
}
.staff-info .staff-headeer h5{
    font-family: var(--font-famaly-pacifico);
    color: var(--orange-700);
    font-weight: 550;
    font-size: 20px;
}
.staff-info .staff-headeer h5::before{
    content: "";
    position: absolute;
    background-color: var(--orange-700);
    height: 1.5px;
    width: 40px;
    margin-top: 18px;
    margin-left: -50px;  
}
.staff-info .staff-headeer h5::after{
    content: "";
    position: absolute;
    background-color: var(--orange-700);
    height: 1.5px;
    width: 40px;
    margin-top: 18px;
    margin-left: 10px;  
}

.staff-info .staff-headeer h2{
    font-family: var(--font-famaly-nunito);
    color: var(--black-900);
    font-size: 40px;
    font-weight: 800;
}

/* ------------------------------------------------------ */
 /* staff info card  */

 .info-card{
    margin: 40px auto;
 }

.info-card .info-item{
    padding: 20px 20px 0px 20px;
    border-radius: 2px;
    box-shadow:0 0 45px rgba(0 ,0 ,0,.08)  ;
    margin: 0px 10px;
    text-align: center;
    height: calc(100% - 60px);
    overflow: hidden;  
}
.info-card .info-item:hover{
    height: 100%;
    transition:0.5s;
    /* margin-bottom: 0%; */
}
.info-card .info-item .staff-img{
    overflow: hidden;
    border-radius: 50%;
    /* align-content: center; */
    /* margin:10px 20px;   */
   
}

.info-card .info-item:hover .staff-img  img{
     transform: scale(1.2) translateY(20px);
     transition: 1s; 
}

.info-card .info-item h3{
    margin-top: 20px;
    font-family: var(--font-famaly-nunito);
    font-weight: 800;
    color: var(--black-900);
    font-size: 20px;
    padding-bottom: 20px;
}
.info-card .info-item span{
    font-family: var(--font-famaly-heebo);
    color: var(--black-600);
    font-size: 14px;
    padding-bottom: 20px;
}

.info-card .info-item .social-con{
    justify-content: center; 
    
}
.info-card .info-item .social-con a{
    background-color:var(--orange-700);
    height: 40px;
    width: 40px;
    margin: 40px 10px 0px 0px;
    color: var(--white-900);
    border-radius: 38px 38px 0px 0px;
    padding: 10px 0px;
}

/* ---------------------------------------------------------- */
/* review portion  */

.client-review .review-header{
    text-align: center;
    margin: 80px auto;
}
.client-review .review-header h4{
    font-family: var(--font-famaly-pacifico);
    color: var(--orange-700);
    font-size: 20px;
    font-weight: 550;
}
.client-review .review-header h4::before{
    content: "";
    position: absolute;
    background-color: var(--orange-700);
    height: 2.5px;
    width: 40px;
    margin-top: 15px;
    margin-left:-50px;
}
.client-review .review-header h4::after{
    content: "";
    position: absolute;
    background-color: var(--orange-700);
    height: 2.5px;
    width: 40px;
    margin-top: 15px;
    margin-left:10px;
}

.client-review .review-header h2{
    font-family: var(--font-famaly-nunito);
    color: var(--black-900);
    font-weight: 800;
    font-size: 40px;
}

/* card portion  */

.client-review .review-card{
    border:solid 0.5px var(--white-600);
    margin: 0px 10px;
}
.client-review .review-card:hover{
    background-color: var(--orange-700);
    transition: 0.5s;
    color: var(--white-900);
}
.client-review .review-card:hover .review-item i{
    color: var(--white-900);
}

.client-review .review-card .review-item{
    padding: 20px 20px;
}
.client-review .review-card .review-item p{
    font-family: var(--font-famaly-heebo);
    padding-bottom: 10px;
}

.client-review .review-card .review-item .client-info .client-img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.client-review .review-card .review-item .client-info h3,span{
    margin-left: 20px;
}

/* -------------------------------------------------------------- */
/* footer  */

footer .container{
    background-color: var(--dark-blue-900);
    margin: 100px 100px;
    color: var(--white-900);
}
footer .information{
    border-bottom: 0.5px solid var(--black-600);
    /* background-color: aqua; */
    margin: 10px 20px ;
}
footer .container .footer-item{
    padding: 40px 10px 40px 30px;
}
footer .container .footer-item h3{
    font-family: var(--font-famaly-pacifico);
    color: var(--orange-700);
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}
footer .container .footer-item h3::after{
    content: "";
    position: absolute;
    background-color: var(--orange-700);
    height: 2.5px;
    width: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

footer .container .footer-item .company-info{
    display: block;
    /* background-color: aqua; */
    /* height:200px ; */
    width: 150px;
}
footer .container .footer-item .company-info a{
    padding-bottom: 10px;
    font-family: var(--font-famaly-nunito);
    font-size: 16px;
    font-weight: 500;
}


footer .container .footer-item .contact-info p{
    padding:0px 0px 10px 0px;
    font-family: var(--font-famaly-heebo);
    font-weight: 400;
    font-size: 16px;
}

footer .container .footer-item .social-media i{
    font-size: 20px;
    padding: 10px 10px;
    margin: 10px 5px 0px 0px ;
    border: 1px solid white;
    border-radius: 50%;
}
footer .container .footer-item .social-media i:hover{
    background-color: var(--white-900);
    color: var(--orange-700);
    transition: 0.5s;
}

footer .container .footer-item .opening-info h4{
    font-family: var(--font-famaly-nunito);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 15px;
}
footer .container .footer-item .Newsletter-info .input input{
    border: none;
    /* height: 60px;     */  
}
footer .container .footer-item .Newsletter-info .input{
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 1px;
    border: 1px solid var(--orange-600);
    background-color: var(--white-900);
    text-align: center;   
}

footer .container .footer-item .Newsletter-info .input button{
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 2px;
    background-color: var(--orange-700);
    color: var(--white-900);
    font-size: 16px;
    
}

footer .footer-2 p{
    padding: 10px 20px;
}
footer .end-portion .ending-links{
    margin-left: 550px;
    margin-top: 10px;
}
footer .end-portion .ending-links a{
    padding-right: 10px;
    margin-left: 10px;
    border-right: solid 1px var(--black-600);
}





