*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 800px;
    width: 800px;
    background-color: aquamarine;
    margin-left: 300px;
    position: relative;
}

.box{
    height: 100px;
    width: 100px;
    display: inline-block;
    
}

.b1{
    background-color: red;
    position: absolute;
    /* right: 10px; */
    top: 30px;
    left: 300px;
    
}

.b2{
    background-color: blue;
    position: relative;
    left: 5px;
}

.b3{
    background-color: black;
    position: fixed;
    top: 90px;
    /* left: 30px; */
}

.b4{
    background-color: cadetblue;
    position: sticky;
    top: 50px;
    margin-left: 100px;

}